<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
        <div class="logo">
            <h1>Health Care</h1>
        </div>
    </header>

    <section class="about">
        <div class="text-container">
            <h2>About Us</h2>
            <p>
                At [Company Name], we specialize in data-driven insights that empower pharmaceutical companies to optimize their sales strategies and understand market trends. Our comprehensive sales data, spanning multiple pharmaceutical categories such as MO1AB, NO2BA, R03, and others, helps industry professionals gain an in-depth understanding of daily and seasonal sales patterns.
            </p>
            <a href="#" class="btn">View More</a>
        </div>
        <div class="image-container">
            <img src="static/images/page1.png" alt="Medical Research">
        </div>
    </section>

    

    <section class="categories">
        <div class="category">
            <img src="static/images/mo1ab.png" alt="MO1AB">
            <h3>MO1AB</h3>
        </div>
        <div class="category">
            <img src="static/images/mo1ab.png" alt="NO2BA">
            <h3>NO2BA</h3>
        </div>
        <div class="category">
            <img src="static/images/mo1ab.png" alt="MO1AE">
            <h3>MO1AE</h3>
        </div>
    </section>

    <section class="research">
        <h2>Research</h2>
        <p>
            Our research focuses on analyzing daily and seasonal sales trends across key pharmaceutical drug categories
            like anti-inflammatory (MO1AB), analgesics (NO2BA), and respiratory treatments (R03). By leveraging this data, 
            we develop predictive models to forecast drug demand and optimize supply chains, ensuring better drug availability
            and resource allocation.
        </p>
        <a href="#" class="btn">Visit Us</a>
    </section>

    <section class="drug-alert">
        <h2>Drug Alert</h2>
        <p>
            Stay informed about significant fluctuations in pharmaceutical sales trends, including potential shortages or surges 
            in demand for critical drugs such as anti-inflammatories (MO1AB) and analgesics (NO2BA). Timely updates ensure you can 
            respond swiftly to market changes and maintain optimal drug supply.
        </p>
    </section>

    <footer>
        <p>© 2024 Pharma pulse. All Rights Reserved.</p>
    </footer>
</body>
</html>
