<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="1400" height="900" frameborder="0" scrolling="no" src="https://1drv.ms/x/c/977b229649555b7c/IQPMzKdPf9NBR4zD0UbdCXWPAU1HhANNE2hcmVCdNewP_c8?em=2&wdAllowInteractivity=False&Item='dashboard'!A1%3AW55&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
</body>
</html>